@model RealEstateProject.Models.Classes.Project

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.projectTitle</title>
    <link rel="stylesheet" href="~/estate/project.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="/MainPage/Index">Home</a></li>
            <li><a href="#" class="active">Projects</a></li>
            <li><a href="/MainPage/Index#listings">Listings</a></li>
            <li><a href="/Contact/Index">Contact</a></li>
        </ul>
    </nav>

    <!-- Project Details Section -->
    <section class="project-details" id="project-details">
        <div class="project-info" style="background-image: url('@Model.projectImageUrl'); height:700px;background-repeat:no-repeat;background-size:cover;">
            <div class="project-content">
                <h3 class="project-title" style="margin-top:800px;">@Model.projectTitle</h3>
                <p style="font-size:20px;">@Model.projectDescription</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact" style="margin-top:200px;">
        @Html.Action("Office", "MainPage")
        @Html.Action("Contact", "MainPage")
        <div class="company-logo">
            <img src="../../estate/imgs/logo.jpg" alt="Company Logo">
        </div>
    </section>
</body>
</html>
